
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
PROJECT NAME: AML
FILE NAME   : AMLCMDocuments
CREATED BY	: RAMPRASATH
CREATED ON	: 27-JAN-2020
MODIFY ON   :
PURPOSE		: 
 -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<link rel="stylesheet" type="text/css"
	href="webjars/chartjs/2.8.0/Chart.min.css"
	th:href="@{webjars/chartjs/2.8.0/Chart.min.css}">
<script src="webjars/chartjs/2.8.0/Chart.min.js"
	th:src="@{webjars/chartjs/2.8.0/Chart.min.js}"></script>
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
<script src="js/bootstrap411.js"></script>


</head>




<title>BHDS</title>
<style>
.container-manager{
	width: 79.5%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 19.3%;
    
    margin-top: 80px;
}

.card-header{
    background-color: #386276;
  }
  
</style>
<script type="text/javascript">
	function back() {
		window.history.back();
	}
	function home() {
		location.href = 'Dashboard'
	}

</script>


<body>
	<div th:insert="BHDSMenu :: header"></div>
	<div class="container-manager">

		
		<div class="row">

			<div class="container-fluid" id="BILLANDPAY">
				<!------------------------------------------ ---Main tabs------------------------------------------------------ -->


				<div  class=" content">
					<div class="card">
						<div class="card-header">
							<div class="float-left">
								<h4>Issue Master</h4>
							</div>

						</div>
						<div class="card-body">


							<div class="form-group">
								<div class="row formline">
									<div class="col-sm-2">
										<label for="cust_id">Issue Srl No</label>
									</div>

									<div class="col-sm-3">
										<input type="text" 
											id="cust_id" class="form-control form-control-sm" readonly
											name="cust_id" autocomplete="off" required>
									</div>
									<div class="col-sm-1"></div>
									<label class="col-sm-2">Report Date</label>


									<div class="col-sm-3">
										<input type="text"
											id="primary_sol_id" name="sol_id" readonly
											class="form-control form-control-sm" autocomplete="false"
											required />
									</div>

								</div>

								<label></label>

								<div class="form-group">
									<div class="row formline">
										<div class="col-sm-2">
											<label for="srl_no">Lodged By</label>
										</div>

										<div class="col-sm-3">
											<input type="text"
												id="cust_name" class="form-control form-control-sm" readonly
												name="cust_id" autocomplete="off" required>
										</div>
										<div class="col-sm-1"></div>
										<label class="col-sm-2">Application</label>


										<div class="col-sm-3">
											<input type="text" 
												id="cust_first_name" name="cust_first_name" readonly
												class="form-control form-control-sm" autocomplete="false"
												required />
										</div>

									</div>

									<label></label>
									<div class="row formline">

										<label class="col-sm-2">Issue Type</label>
										<div class="col-sm-3">
											<input type="text" 
												id="cust_short_name" name="cust_short_name" value=""
												readonly class="form-control form-control-sm"
												autocomplete="false" required />
										</div>

										<div class="col-sm-1"></div>


										<label class="col-sm-2">Report Code</label>
										<div class="col-sm-3">
											<input type="text" 
												id="cust_middle_name" name="cust_middle_name" value=""
												readonly class="form-control form-control-sm txtalign"
												autocomplete="false" required />
										</div>
										<div class="col-sm-1"></div>
									</div>


									<label></label>
									<div class="row formline">

										<label class="col-sm-2">Issue Description</label>
										<div class="col-sm-3">
											<input type="text" 
												id="acct_num" name="acct_num" value="" readonly
												class="form-control form-control-sm" autocomplete="off"
												required />
										</div>
										<div class="col-sm-1"></div>


										<label class="col-sm-2">Priority</label>
										<div class="col-sm-3">
											<input type="number"
												id="cust_last_name" name="cust_last_name" value="" readonly
												class="form-control form-control-sm" autocomplete="off"
												required />
										</div>
										<div class="col-sm-1"></div>
									</div>
									<label></label>
									<div class="row formline">

										<label class="col-sm-2">Assigned To</label>
										<div class="col-sm-3">
											<input type="text"
												id="email_id" name="email_id" value="" readonly
												class="form-control form-control-sm" autocomplete="off"
												required />
										</div>
										<div class="col-sm-1"></div>


										<label class="col-sm-2">Assigned Date</label>
										<div class="col-sm-3">
											<input type="number"
												
												id="cust_perm_phone_num" name="cust_perm_phone_num" value=""
												readonly class="form-control form-control-sm"
												autocomplete="off" required />
										</div>
										<div class="col-sm-1"></div>
									</div>

									<label></label>

									<div class="row formline">

										<label class="col-sm-2">Nature Of Issue </label>
										<div class="col-sm-3">
											<input type="text" 
												id="nat_id_card_num" name="nat_id_card_num" value=""
												readonly class="form-control form-control-sm"
												autocomplete="off" required />
										</div>
										<div class="col-sm-1"></div>


										<label class="col-sm-2">Resolution</label>
										<div class="col-sm-3">
											<input type="number"
												id="psprt_issu_date" name="psprt_issu_date" value=""
												readonly class="form-control form-control-sm"
												autocomplete="off" required />
										</div>
										<div class="col-sm-1"></div>
									</div>
									<label></label>

									<div class="row formline">


										<label class="col-sm-2">Action Steps</label>
										<div class="col-sm-3">
											<input type="email"
												id="psprt_num" value="" name="psprt_num" readonly
												class="form-control form-control-sm" autocomplete="off"
												required />
										</div>

										<div class="col-sm-1"></div>

										<label class="col-sm-2">Resolution Date</label>
										<div class="col-sm-3">
											<input type="text" 
												id="email_user_1" value="" name="email_user_1" readonly
												class="form-control form-control-sm" autocomplete="off"
												required />
										</div>
										<div class="col-sm-1"></div>
									</div>
									<label></label>

									<div class="row formline">


										<label class="col-sm-2">Solution </label>
										<div class="col-sm-3">
											<input type="email" 
												id="psprt_issu_date" value="" name="psprt_issu_date"
												readonly class="form-control form-control-sm"
												autocomplete="off" />
										</div>

										<div class="col-sm-1"></div>

										<label class="col-sm-2">Completion Date</label>
										<div class="col-sm-3">
											<input type="text"
												id="psprt_exp_date" value="" name="psprt_exp_date" readonly
												class="form-control form-control-sm" autocomplete="off" />
										</div>
									</div>
									<label></label>
									<div class="row formline">


										<label class="col-sm-2">Customer Feedback </label>
										<div class="col-sm-3">
											<input type="email" 
												id="psprt_issu_date" value="" name="psprt_issu_date"
												readonly class="form-control form-control-sm"
												autocomplete="off" />
										</div>

										<div class="col-sm-1"></div>

										<label class="col-sm-2">Current Status</label>
										<div class="col-sm-3">
											<input type="text"
												id="psprt_exp_date" value="" name="psprt_exp_date" readonly
												class="form-control form-control-sm" autocomplete="off" />
										</div>
									</div>



								</div>
							</div>
						</div>
						<div class="card-footer text-center">
							<button type="button" class="btn btn-xs btn-primary" id="btnHome"
								onclick="home();">Home</button>

							<button type="button" class="btn btn-xs btn-primary" id="btnBack"
								onclick="back();">Back</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>